# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
.gitignore
_assets/css/style.css.bak
D8MUX REDUX.esproj/Project.espressostorage
D8MUX REDUX.esproj/user.Lewis.espressostorage