body {
  padding-top: 0!important;
}


#block-system-main {
  margin-top:  20px;
}

  
  #branding,  #toolbar-user {
    display: none;
  }
  
  ul.admin-list li {
    background: none;
    border-top: medium none;

    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  
  .hide {
    display: none;
  }
  
  td.checkbox,
  td.help,
  td.permissions,
  td.configure{
    display: none;
  }
  
