body {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
  font: 81.3%/1.538em "Lucida Grande","Lucida Sans Unicode",sans-serif;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%
}

ul.links, ul.links.inline, ul.links li, .block ul, ol, ul, .item-list ul, .item-list ul li {
    list-style: none outside none;
}

html {
  height: 100%;
}

body, #wrapper {
  min-height: 100%;
}

#wrapper {
  background-color: dimgray;
}

.slider {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 0px 4px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow: 0px 0px 4px 0px #000; /* FF3.5 - 3.6 */
box-shadow: 0 0 20px 4px rgba(0,0,0, 0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.slider > li {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    padding: 0;
}

.page {
  background-color: #FFF;
  padding: 0 1%;
}

#prevpage,
#nextpage {
  display: none;
}

.toolbar {
  background: #000;
  height: 13mm;
  position: relative;
  padding: 0;
  margin: 0 0 20px 0;
}

.front .toolbar {
  margin-bottom: 0;
}

.toolbar * {
    border: 0 none;
    font-size: 100%;
    line-height: inherit;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}


.toolbar a {
    color: #FFFFFF;
    font-size: 0.846em;
    text-decoration: none;
}

.toolbar div.toolbar-menu {
    background: none repeat scroll 0 0 #000000;
    line-height: 20px;
    padding: 5px 50px 5px 10px;
    position: relative;
}

.toolbar div.toolbar-menu  {
  min-height: 34px;
    font-size: 1.5em;
  padding-right: 0;
  padding-left: 1%;
  }
  
.toolbar div.toolbar-menu h1 {
  color: #FFF;
  font-weight: normal;
  padding: 8px 0;
  margin-top: 0;
  margin-right: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar div.toolbar-menu h1 a { 
  display: block;
}
.toolbar div.toolbar-menu ul {
  float: right;
  margin-right: 2%;
}

.toolbar div.toolbar-menu ul li {
  float: left;
}

.toolbar div.toolbar-menu ul li a {
    background: none repeat scroll 0 0 #444444;
    border-right: solifd 1px #000;
    display: block;
    line-height: auto;
    padding: 8px 10px;
    position: relative;
  }
  
  .toolbar div.toolbar-menu ul li:first-child a {
   -webkit-border-radius: 4px 0 0 4px;
   -moz-border-radius: 4px 0 0 4px;
   border-radius: 4px 0 0 4px; 
  }
  
  .toolbar div.toolbar-menu ul li:last-child a {
   -webkit-border-radius: 0 4px 4px 0;
   -moz-border-radius: 0 4px 4px 0;
   border-radius: 0 4px 4px 0; 
  }
  
  .toolbar div.toolbar-menu ul li:last-child:first-child a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }
  
  .admin-panel .item-list ul, ul.admin-list {
      margin: 0;
      padding: 0;
  }
  
   ul.admin-list li {
      background: none;
      border-top: medium none;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
    
     ul.admin-list li a {
      //background: url("images/list-item.png") no-repeat scroll center right transparent;
      border-top: 1px solid #CCC;
      color: #000;
      display: block;
      min-height: 45px;
      margin-left: 0;
      padding-left: 0;
      padding-top: 9px;
      padding-right: 30px;
      padding-bottom: 9px;
      text-decoration: none;
      -webkit-tap-highlight-color: highlight;
     }
    
    ul.admin-list li a .description {
      display: block;
      color: #666;
    }
    
    .cf:before,
    .cf:after {
        content:"";
        display:table;
    }
    
    .cf:after {
        clear:both;
    }
    
/* loading screen */
.ui-loading .ui-loader { 
display: block;      
-webkit-animation: rotate 2s linear infinite;
-moz-animation: rotate 2s linear infinite;
}
.ui-loader { background-color: #000; opacity: .18; display: none; z-index: 9999999; position: fixed; width: 46px; height: 46px; top: 50%; box-shadow: 0 1px 1px -1px #fff; margin-left: -18px; margin-top: -18px; left: 50%; padding: 1px; border:0; -webkit-border-radius: 36px; -moz-border-radius: 36px; border-radius: 36px; }
.ui-loader h1 { font-size: 0px; width: 0; height: 0; overflow: hidden; }
.ui-loader .ui-icon { display: block; margin: 0; width: 46px; height: 46px; background-color: transparent; }
 
/* CSS Animations from jQuery mobile */
 
 /* slide transition */
.slide.out {
display: block;
-webkit-transform: translateX(-100%);
-webkit-animation-name: slideouttoleft;
-moz-transform: translateX(-100%);
-moz-animation-name: slideouttoleft;
-webkit-animation-duration: 225ms;
-moz-animation-duration: 225ms;
}

.slide.in {
display: block;
-webkit-transform: translateX(0);
-webkit-animation-name: slideinfromright;
-moz-transform: translateX(0);
-moz-animation-name: slideinfromright;
-webkit-animation-duration: 200ms;
-moz-animation-duration: 200ms;
}

.slide.out.reverse {
-webkit-transform: translateX(0);
-webkit-animation-name: slideinfromleft;
-moz-transform: translateX(0);
-moz-animation-name: slideinfromleft;
-webkit-animation-duration: 200ms;
-moz-animation-duration: 200ms;
}

.slide.in.reverse {
-webkit-transform: translateX(100%);
-webkit-animation-name: slideouttoright;
-moz-transform: translateX(100%);
-moz-animation-name: slideouttoright;
-webkit-animation-duration: 200ms;
-moz-animation-duration: 200ms;
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes slideouttoright {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(100%); }
}

@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes slideouttoleft {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}
@-moz-keyframes slideinfromright {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
@-moz-keyframes slideinfromleft {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(0); }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

